<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgTEjLX-adiMg5gMBBHySkSYf3aZ3UTus</string>
	<key>GCM_SENDER_ID</key>
	<string>62214198114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.schuleimgriff</string>
	<key>PROJECT_ID</key>
	<string>schuleimgriff</string>
	<key>STORAGE_BUCKET</key>
	<string>schuleimgriff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62214198114:ios:658df270903f2aae24123b</string>
</dict>
</plist>